DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/fitxes_tecniques
SECRET_KEY=canvia-aquesta-clau-secreta
FLASK_ENV=development

# FTP
FTP_HOST=farineracoromina.com
FTP_PORT=21
FTP_USER=usuari@farineracoromina.com
FTP_PASSWORD=
FTP_PATH=/fitxestecniques

# Carpeta xarxa (PENDENT)
NETWORK_SHARE_PATH=
